<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="CRMTest_testng"  parallel="tests" thread-count="2">

	<listeners>
		<listener class-name="com.crm.utilities.Reporting" />
	</listeners>


	<test name="CRM Test1">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.crm.testCases.TC01_LoginTest" />
		</classes>
		

	</test>
	
	
	<test name="CRM DDTest2">
		<parameter name="browser" value="firefox" />
		<classes>
			<!-- <class name="com.crm.testCases.TC01_LoginTest" /> -->
			 <class name="com.crm.testCases.TC02_LoginDDT" />
		</classes>
		

	</test>

</suite>